*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
header{
    background-color: #fceef1;
}
.banner{
    display: flex;
    align-items: center;
    padding:50px 100px 0px;
    gap: 50px;
}
.img-area img{
    width: 400px;
}
.text-area{
    padding: 0px 60px;
}
.text-area h1{
    font-size: 60px;
}
.text-area p{
    margin: 20px 0;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #fb083d;
    color: white;
    border-radius: 5px;
}
/*============ feature-area ========*/
.feature-area, .about-us,.instagram-area,.info-area{
    width: 80%;
    margin:80px auto;
    text-align: center;
}
.feature-area h2,.about-us h2,.instagram-area h2{
    font-size: 30px;
    margin: 30px 0;
}
.feature-area p,.about-us > p, .instagram-area >p{
    width: 600px;
    margin: 0 auto 10px;
}
.feature-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.flower-1,.flower-2,.flower-3{
    width: 300px;
    padding: 20px 10px 0px;
    border-radius:45% 45% 0px 0px ;
    margin: 30px 20px;
}
.flower-1{
    background-color: #f1dde7;
}
.flower-2{
    background-color: #d9eff0;
}
.flower-3{
    background-color: #e3ebdb;
}
.flower-1 img , .flower-2 img , .flower-3 img{
    width: 200px;
    height: 300px;
    margin: auto;
}
.link-area{
    display: flex;
    justify-content: space-around;
   
}
.link-area a{
    display: inline-block;
    color: black;
    font-weight: 400;
}

/*=========== about us ======= */
.about-content{
    display: flex;
    gap: 50px;
    text-align: left;
    margin: 60px 0;
    
}
.about-content h3{
    font-size: 30px;
    
    
}
.about-content p{
    line-height: 28px;
    margin: 20px 0;
    
}
.about-content img{
    width: 500px;
    border-radius: 9px;
}
/*========= deal area======== */
.deal-area{
    background-color: #fdf6f8;
}
.deal-section{
    width: 80%;
    margin: auto;
    display: flex;
    padding: 30px;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.deal-content{
    text-align: center;
    width: 600px;
}
.deal-content p{
    margin: 20px 0;
}
.color{
    color: #fb083d;
}
/* ========instagram-area====== */
/* .img-box{
    display: flex;

} */
.img-box img {
    width: 230px;
    margin: 10px;
    border-radius: 7px;
}
/* =======info-area======= */
.info-box{
    background-image: url(img/Rectangle\ 9.png);
    background-size: cover;
    padding: 120px 0;
    margin: 0 30px;
}
.info-box p{
    margin: 10px 0;
}
.info-box input{
    padding: 10px 25px;
    width: 50%;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.222);
}